services:
  libretranslate:
    image: libretranslate/libretranslate:latest
    container_name: libretranslate
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - LT_LOAD_ONLY=en,nl,hu
      - LT_DISABLE_WEB_UI=true
      - LT_UPDATE_MODELS=true