# fly.toml app configuration file generated for telnyx-bridge on 2026-02-11T18:32:55+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'telnyx-bridge'

[experimental]
  disable_depot = true

primary_region = 'fra'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[vm]
  size = "shared-cpu-1x"
